@media  screen and (min-width:360px) and (max-width:800px) {
   .container{
    display: flex;
    width: 80vw;
   }

   .group-infos{
    display: flex;
    gap: 3px;
    }


   input{
    width: 230px;
   }
}