@media  screen and (min-width:360px) and (max-width:800px) {
   .container{
    display: flex;
    width: 85vw;
    padding: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 11px;
   }

   .group-infos{
    display: flex;
    gap: 3px;
    }

    textarea{
        width: 80vw;
        height: 30vh;
        border: 1px solid #0808087c;
        border-radius: 3px;
    }

    label{
        font-weight: bold;
        padding: 7px;
    }

    #bttn-submit{
        width: 100%;
        height: 45px;
        margin-top: 22px;
        background-color: #022B3A;
        padding: 7px;
        cursor: pointer;
        font-size: 1em;
        color: #ffff;  
    }
    
 
   input{
    width: 230px;
   }
}