@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242038;
}

section{
    padding: 10px;
    width: 80vw;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: #ffff;
    border-radius: 6px;
}

.infos-container{
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 10px;
    border: 1px solid #00000062;
}

.container{
    display: flex;
    flex-direction:column;
    padding: 10px;
    align-items: center;
}

.quest-feedback{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
}

.quest-feedback > input:hover{
    background-color: tomato;
}

#select-job{
    width: 200px;
    height: 35px;
    padding: 6px;
}

input{
    margin: 6px;
    padding: 3px;
}

label{
    padding: 10px;
}

input[type="text"], input[type="email"]{
    width: 290px;
    height: 20px;
    border: 1px solid #00000062;
    padding: 5px;
}

input[type="radio"]{
    width: 12px;
    height: 10px;
    padding: 5px;
    font-size: 1em;
    background-color: transparent;
    border: 1px solid #000000a9;
}

#bttn-submit{
    width: 520px;
    height: 35px;
    padding: 5px;
}

textarea{
    width: 510px;
    margin: 7px;
    padding: 6px;
}

p{
    padding: 7px;
    text-align: justify;
}
