@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 7px;
}

body{
    font-family: 'Work sans', Arial, Helvetica, sans-serif;
    background-color: #f7e5ca;/* #C8D5B9; */
}

input{
    width: 280px;
    height: 37px;
    margin-top: 3px;
    border-radius: 6px;
    border: 1px solid #5252529f;
}

label{
    font-weight: bold;
    padding: 7px;
    margin-top: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 44vw;
    margin: auto;
    padding: 22px;
    margin-top: 30px;
    background-color: #ffff;
    border-radius: 11px;
}

.group-infos{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.group-infos > div{
    display: flex;
    flex-direction: column; 
}

.msg-container{
   display: flex;
   flex-direction: column;
}

select{
    display: block;
    margin-top: 12px;
    margin-bottom: 11px;
    padding: 8px;
    width: 260px;
    height: 37px;
    font-size: 15px;
}

input[type="email"]{
    width: 38vw;
    margin-bottom: 20px;
}

#bttn-submit{
    width: 100%;
    height: 47px;
    margin-top: 13px;
    background-color: #022B3A;
    padding: 7px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;  
}

textarea{
    padding: 6px;
}