@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1 , p{
    text-align: center;
    color: #ffff;
    padding: 7px;
}

header{
    padding: 12px;
}

body{
    font-family: 'Work sans', Arial, Helvetica, sans-serif;
    background-color: #202040;
}

.infos-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffff;
    border-radius: 7px;
    margin: auto;
    padding: 15px;
    width: 55vw;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 30px;
}

.quest-feedback{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 2px;
}

input{
    margin: 5px;
    padding: 5px;
}

label{
    padding: 10px;
}

input[type="text"], input[type="email"]{
    width: 50%;
    height: 27px;
    border: 1px solid #00000062;
    padding: 5px;
}

select{
    width: 200px;
    height: 32px;
    margin: 7px;
}

#bttn-submit{
    width: 45vw;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background-color: #FFBD69;
    border: 1px solid #0000009f;

}

#rating-feed{
    display: flex;
    flex-direction: column;
}

input[type="button"]{
    width: 60px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    background-color: #ffff;
    border: 1px solid #0000004b;
    border-radius: 10px;
}

textarea{
    width: 80%;
    margin: 7px;
    padding: 6px;
}